<h1 class="center">Line Chart New</h1>
<form #form="ngForm">
  <div class="grid">
    <div>
      <p class="para">From Time :</p>
      <input
        class="date-box"
        type="date"
        name="asOnDateTime"
        [(ngModel)]="asOnDateTime"
        (change)="asOnDate()"
        #ctrl="ngModel"
      />
    </div>
    <div>
      <p class="para">To Time :</p>
      <input
        class="date-box"
        type="date"
        name="asOnDateTimeTo"
        [(ngModel)]="asOnDateTimeTo"
        (change)="asOnDateTo()"
        #ctrlTo="ngModel"
      />
    </div>
  </div>
  <button (click)="submit()" class="btn">Search</button>
</form>

<highcharts-chart
  class="linechart"
  [Highcharts]="Highcharts"
  [options]="lineChart"
></highcharts-chart>
